@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap');
body,html{
  background-color: #ffffff;
  margin: 5vw 5vw 5vw 5vw;
  padding:5vw;
}
.abt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  padding: 2vw;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}
#abtImg{
  opacity:0.75;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#abtImg:hover{
  opacity:1;
  cursor: pointer;
  -webkit-animation-name: hvr-pulse-grow;
 animation-name: hvr-pulse-grow;
 -webkit-animation-duration: 0.4s;
 animation-duration: 0.4s;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -webkit-animation-direction: alternate;
 animation-direction: alternate;
}
.arrow > img{
  width:15vw;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height:300vh;
  background-color: #f3e2e8;
  color: #a66e7c;
  font-family: 'Lato', sans-serif;
}

/* NOTE: CSS for splitting up menu portions */
.menubox{
  margin:5vw;
}
#div1, #div0{
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.menuBox > div{
  width:55vw;
  height:40vh;
  border: 5px solid #394e6b;
  border-top: none;
}
.logo img{
  width:100%;
  height:39vh;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #394e6b;
  border-right: 5px solid #394e6b;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  color: #a45269;
  border-top: 5px solid #394e6b;
}
h4{
  font-family: 'Berkshire Swash', cursive;
  color: #a45269;
}
#div2, #div4, #div55, #div6, #div8, #div10{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
#div3, #div5, #div7, #div9 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
/* NOTE: CSS for images */

.thumbnailR:hover{
  border-radius:0;
}
.thumbnailL:hover{
  border-radius:0;
}
.thumbnailR{
  display: flex;
  flex-basis: 35%;
  justify-content: flex-end;
  align-items: flex-end;
  padding:1vw;
  width:20vw;
  height:33vh;
  border-radius: 50%;
  transition: 0.5s;
}
.thumbnailL{
  flex-basis: 35%;
  justify-content: flex-start;
  padding:1vw;
  width:20vw;
  height:33vh;
  border-radius: 50%;
  transition: 0.5s;
}
/* NOTE: CSS for play buttons */
.playL:hover, .playR:hover{
  opacity:0.8;
  transform: scale(2);
}
.playL{
  width:60px;
  height:60px;
  position: absolute;
  margin-left:7.5%;
  cursor:pointer;
  transition: 0.5s;
}
.playR{
  width:60px;
  height:60px;
  position: absolute;
  margin-left:-7.5%;
  cursor:pointer;
  transition: 0.5s;
}
/* NOTE: CSS for image descriptions */
.descripR{
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: center;
  /*position:relative;
  margin-left: 25vw;
  width: 40vw;*/
}
.descripL{
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: center;
  width: 40vw;
}
/* NOTE: CSS for modals*/
.modal{
  position: absolute;
  top:50%;
  left:25%;
  height:auto;
  border:none;
  overflow:hidden;
}
.modal{
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal iframe{
  margin-top:12%;
  margin-left: 20%;
  height:60%;
  width:60%;
}
.comment1s, .comment2s, .comment3s, .comment4s{
  font-size: 0.7rem;
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  width: 28vw;
  padding: 0.2vw;
  margin-top: 1.2vw;
}
.what{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}
.Acontainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  padding:5vw;
  background-color: #f3e2e8;
  color: #a66e7c;
  font-family: 'Lato', sans-serif;
}
.descrip > div{
  width:55vw;
  margin-bottom: 2vw;
  border-bottom: 5px dotted #394e6b;
  padding:0.5vw;
}
#korean{
  display: flex;
  font-size: 5rem;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  margin-bottom: 2vw;
}
@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #e60073, 0 0 20px #e60073, 0 0 40px #e60073;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 10px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 50px #ff4da6;
  }
}
span{
  text-align: center;
  font-size:1.35rem;
  padding:0.5vw;
}
.whyPic{
  width:20vw;
  height:30vh;
}
.why{
  display: flex;
  flex-direction: column;
}
.why >div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}
