@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap');
body,html{
  margin: 5vw 5vw 5vw 5vw;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}
.next{
  width:15vw;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height:250vh;
  background-color: #f3e2e8;
}
.menubox{
  margin:5vw;
}
.div1{
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.menuBox > div{
  width:55vw;
  height:40vh;
  border: 5px solid #394e6b;
  border-top: none;
}
.logo{
  background-image: url('logo1.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 5px solid #394e6b;
  border-right: 5px solid #394e6b;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  color: #df8285;
  border-top: 5px solid #394e6b;
}
.div2, .div4{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.div3, .div5{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.thumbnailR{
  display: flex;
  flex-basis: 35%;
  justify-content: center;
  align-items: center;
  width:20vw;
  height:30vh;
  opacity:0.8;
}
.thumbnailL{
  flex-basis: 35%;
  justify-content: flex-start;
  width:20vw;
  height:30vh;
  opacity:0.8;
}

.playL{
  width:6vw;
  position: relative;
  margin-top:-8rem;
  margin-left:5rem;
  cursor:pointer;
  transition: 0.5s;
}
.playR{
  width:6vw;
  height:12vh;
  position: relative;
  margin-bottom:-8rem;
  margin-right:-5rem;
  cursor:pointer;
  transition: 0.5s;
}

.descripR{
  flex-basis: 60%;
  justify-content: space-between;
  /*position:relative;
  margin-left: 25vw;
  width: 40vw;*/
}
.descripL{
  position:relative;
  margin-right: 25vw;
  width: 40vw;
}
